section#company
  .container
    h2.fadeIn COMPANY
    h3.fadeIn 会社情報
    .txt-block.fadeIn
      dl
        dt 住所
        dd  東京都立川市錦町1-3-21 ライオンビル立川館1F
        dt 電話番号
        dd 042-519-3403
        dt 営業時間
        dd 20:00〜LAST
        dt 定休日
        dd 月曜日
  .map-block.fadeIn
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2118305953936!2d139.4153038!3d35.69640450000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e17b44e239b3%3A0xed7a3bc9a5bfd6dd!2z44CSMTkwLTAwMjIg5p2x5Lqs6YO956uL5bed5biC6Yym55S677yR5LiB55uu77yT4oiS77yS77yRIOODqeOCpOOCquODs-ODk-ODq-eri-W3nemkqCAxZg!5e0!3m2!1sja!2sjp!4v1692109624979!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    