section#recruit
  .container
    h2.fadeIn RECRUIT
    h3.fadeIn 採用情報
    .txt-block.fadeIn
      p 高額時給でがっつり稼げちゃう!!
      p 時給¥2,000〜全額日払いOK♪
      p 待遇＆良い所をちょこっと公開します！
      p ①ノルマ、強制無しでプレッシャーなし！
      p ②全額日払いもOKで急な支払いも安心！
      p ③新規店だから上下関係なし！お店もピカピカですよ♬
      p ③衣装はワンピースでOK☆送りも無料だから引かれる物が超少ない♬
      p ④シフトは自由！遅出、早上がりもOKです！
      p ⑤ 貴女のワガママ聞いちゃいます☆ 『ああしたい、こうしてほしい』何でも言って下さい♡
      p まだまだ言い足りないくらい素敵なところが沢山☆ぜひ体験入店（全額日払い）で確認して下さい！！
      p 優しい店長が皆を全力でバックアップ！フォロー体制もバッチリなので安心して働いて下さい♬
      p スクレは《短期OK ・即日面接OK・履歴書不要」だかなら本日当たる気軽にバイト出来ちにゃいます♬