section#recruit
  .container
    h2.fadeIn RECRUIT
    h3.fadeIn 採用情報
    .txt-block.fadeIn
      p 船橋エリアで安心の優良グループが運営♪
      p お仕事始めるなら今が絶好のタイミング☆<br>現在20～40代までの女性が活躍中です♪<br><br>楽しくガッツリ稼ぎたい！！<br>キャバクラの細かいルールにうんざりしてる！！<br>そんな女の子にしっかりとお応えします！
      p 【欲しかったあの待遇、、揃ってます☆】
      p ◆即日体入、即日勤務OK<br>◆全額日払いOK<br>◆強制ノルマ、イベント完全排除<br>◆遠方の送りも対応<br>◆ストール着用OK<br>
      p ★立ち待機なし<br>★過剰な営業は一切ありません<br>★無駄な罰金なし<br>★お酒が飲めなくても大丈夫です
      p ブランクがある方や未経験の方にもぴったり☆<br>ノンアルコールも揃っているのでお酒が飲めなくても問題ありません！<br>他にも沿線経験者さんには優遇あります♪